.hero-container{
    background: radial-gradient(84.72% 84.72% at 50% 50%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%), url("../images/hero-bg.jpg") center/cover no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    object-fit: contain;
    mix-blend-mode: color-burn;
    padding-left: 5rem;
    padding-top: 2rem;
}

 
.hero-container > h1{
    font-size: 5rem;
    color: #fff;
    text-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.hero-container > p{
    font-size: 3rem;
    color: #fff;
    text-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.hero-btns{
    margin-top: 1.5rem;
}

.hero-btns .btn{
    margin-right: 2rem;
}

@media screen and (max-width: 960px){
    .hero-container > h1{
        font-size: 4rem;
    }

    .hero-container > p{
        font-size: 2.3rem;
    }
}

 

@media screen and (max-width: 705px){

    .hero-container{
 
        padding-left: 0rem;
        padding-top: 3rem;
        align-items: center;
    }

    .hero-container > h1{
        font-size: 2.1rem;
    }

    .hero-container > p{
        font-size: 1.6rem;
    }

    .btn-mobile{
        display: block;
        text-decoration: none;   
    }

    .btn{
        width: 100%;
    }
    .hero-btns{
        margin-top: 1rem;
    }
    .hero-btns .btn{
        margin-top: 0.5rem;
    }
}